/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Jost:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import url(utlity.css);
/* @import url(nav.css); */


/* GENERAL STYLES */

body {
  overflow-x: hidden;
  color: var(--text-dark);
  background-color: var(--beige);
}

h1 {
 font-size: 4rem;
 font-weight: 400;
 letter-spacing: -.5px;
 line-height: .9;
 text-align: center;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: -.5px;
  line-height: .9;
  color: var(--dark-green);
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -.5px;
  line-height: 1;
  margin-bottom: 1.5rem;
}

h4 {
  text-transform: uppercase;
  font-size: .9em;
  letter-spacing: 1px;
  color: var(--beige);
}

.container {
  max-width: 1440px;
  margin: auto;
}

.btn-light, .btn-dark {
  padding: .5rem 2rem;
  display: inline-block;
  margin-block: 1rem;
  text-decoration: none;
  border-radius: 100px;
  font-size: .9rem;
  letter-spacing: .5px;  transition: 300ms ease-in-out;

}

.btn-light {
  background-color: var(--beige);
  border: 1px solid var(--beige);
  color: var(--dark-green);
}

.btn-light:hover{
  background-color: var(--beige-transparent);
  color: var(--beige)
}

.btn-dark {
  background-color: var(--lt-green);
  color: var(--beige);
  border: 1px solid var(--lt-green);

}

.red-bg {
  background-color: var(--dark-red);
}

.green-bg {
  background-color: var(--dark-green);
}

.lt-bg {
  background-color: var(--beige);
}

.btn-dark:hover {
  background-color: var(--beige-transparent);
  color: var(--lt-green)
}

.border-right-dark {
  border-right: 1px solid var(--dark-green);
}


/* NAVIGATION */

.main-nav {
  position: fixed;
  width: 100%;
  /* max-width: 1800px; */
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

}

.mobile-nav-header {
  padding-inline: 2rem;
  display: flex;
  width: 100%;
  max-width: 1800px;
  /* margin-inline:auto; */
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  z-index: 2;
}

.nav-scroll-bg {
  background-color: var(--dark-green);
  border-bottom: 1px solid var(--beige);
}

.main-nav ul {
  position: relative;
  display: inline-block;
  top: -2px;
  list-style: none;
}

.main-nav ul li a {
  font-size: 1.25rem;
  color: var(--dark-green);
  padding: 2.5rem 2rem;
  display: block;
  width: 100vw;
  text-decoration: none;
}

.main-nav ul li {
  border-bottom: 1px solid var(--lt-green);
}

.main-nav ul li:first-of-type {
  border-top: 1px solid var(--lt-green);
}

.main-nav ul li a:hover {
  color: var(--lt-green);
  background-color: #e0cfb4;
  transition: 150ms ease;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-links {
  color: var(--dark-green);
  position: absolute;
  background-color: var(--beige);
  top: 4rem;
  min-height: calc(100vh - 4rem);
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  display: none;
}

.nav-links.active {
  opacity: 1;
  display: flex;
}

.nav-links dl {
  padding: 2rem;
}

.nav-links dt {
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--lt-green);
  margin: 2rem 0 .5rem;
}

.nav-links dd {
  margin-bottom: 1rem;
}

.menu-toggle {
  border: 1px solid var(--beige);
  border-radius: 50px;
  padding: .25rem 1rem;
  color: var(--beige);
  background-color: transparent;
  cursor: pointer;
  font-size: .8rem;
  height: 2.5rem;
}

.menu-toggle:hover {
  background-color: var(--beige-transparent);
  color: var(--beige);
  transition: 200ms ease;

}

.menu-toggle.active {
  border: 1px solid var(--dark-green) !important;
  color: var(--dark-green) !important;
  transition: 200ms ease;

}

.active {
  background-color: var(--beige);
}

/* NAVIGATION END */

/* HERO */

.hero {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 2rem 0;
  background-image: url(../img/shapelayer-bottom.svg);
  background-color: var(--dark-green);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.hero header {
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.hero h1 {
  color: var(--beige);
  margin-block: 1rem;
}

.small-illustration {
  height: 5rem;
}

.large-img {
  margin-block: 2rem;
  height: clamp(200px, 40vh, 90vh);
}

.features {
  background-color: var(--mid-green);
  border-bottom: 1px solid var(--dark-green);
  color: var(--beige);
  text-align: center;
  height: auto;
}

.features div {
  display: grid;
  grid-template-columns: repeat(1fr);
  /* height: 100%; */
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.features span {
  font-family: 'Cormorant Garamond', Times, serif;  
  font-weight: 400;
  font-size: 1.5rem;
  width: 100%;
  height: 150px;
  display: flex;
  border-bottom: 1px solid var(--dark-green);
  justify-content: center;
  align-items: center;
}

/* HERO END */

/* HERO SUBPAGE */

.hero-subpage {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark-green);
  padding-block: 6rem 2rem;
  text-align: center;
}

.hero-subpage h1 {
  color: beige;
  margin-bottom: 2rem;
}

.hero-subpage header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 2rem;
}

.header-side-image {
  width: 100%;
  position: relative;
  transform: 0;
}


/* HERO SUBPAGE END */

/* SECTIONS */

.grid-section {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

.grid-text {
  padding: 4rem 2rem;
  height: 100%;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid var(--dark-green);
}

.grid-text p {
  display: inline-block;
  margin-block: 1rem;
  font-size: 1rem;
}

.grid-full-image {
  border-bottom: 1px solid var(--dark-green);
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: grid;
  justify-content: center;
  align-items: center;
}

.grid-full-image img {
  height: auto;
  width: 100%;
}

.full-width-section {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 5rem;
}

.full-width-section h3 {
  text-align: center;
  padding-inline: 2rem;
  margin-bottom: 2rem;
}

.full-width-section div {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  text-align: center;
}

.full-width-section div img {
  max-height: 2rem;
  margin-top: 1rem;
}

.varieties {
  max-width: 1440px;
  padding: 2em;
  text-align: center;
  margin: auto;
}

.tea-types {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-block: 2rem 6.25rem;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark-green);
  border-radius: 4px;
}

.card h4 {
  font-family: 'Cormorant Garamond', Times, serif;
  text-transform:initial;
  letter-spacing: 0;
  color: var(--dark-green);
  font-size: 1.5rem;
  padding: 1rem;
}

.card img {
  width: 100%;
}

.grid-twocol {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding-block: 120px;
  padding-inline: 2rem;
  max-width: 1440px;
  margin: auto;
  gap: 2rem;
}

.grid-twocol h3 {
  font-size: 2.5rem;
  color: var(--dark-green);
}

.grid-twocol h3 ~ p {
  max-width: 80ch;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--lt-green);
}

.grid-twocol .img-4, .grid-twocol .img-3, .grid-twocol .img-5  {
  height: 400px;
  border: 1px solid var(--dark-green);
}

.section-contact-info {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.grid-threecol {
  display: grid;
  height: 600px;
  grid-template-columns: 1fr 4fr 1fr;
  background-color: var(--dark-green);
  text-align: center;
}
.threecol-text {
  padding-inline: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 550px;
  margin: auto;
}

.threecol-text p {
  margin-bottom: 1rem;
}

.grid-threecol h2 {
  color: var(--beige);
}


.grid-threecol p {
  color: var(--white);
}

.img-1 {
  background-image: url(../img/brewell-floating-pouches.jpg);
}
.img-2 {
  background-image: url(../img/tea-bags.jpg);
}
.img-3 {
  background-image: url(../img/pexels-anna-pou-8330273.jpg);
}
.img-4 {
  background-image: url(../img/pexels-ivan-samkov-8951882.jpg);
}

.img-5 {
  background-image: url(../img/pexels-eva-bronzini-6087602.jpg);
}

.img-6 {
  background-image: url(../img/aniketh-kanukurthi-Qaor6nxikUM-unsplash.jpg);
}


.img-1, .img-2, .img-3, .img-4, .img-5, .img-6 {
  background-position: center;
  background-size: cover;
}

.fu
.full-width-section h3 {
  margin-bottom: 2rem;
}

.full-width-section.red-bg h3, .full-width-section.green-bg h3 {
  color: var(--beige);
}

/* SECTIONS END */

/* FOOTER */

.main-footer {
  background-color: var(--dark-grey);
  padding-block: 4rem;
  font-size: .9rem;
}

.main-footer .footer-grid-3 {
  padding-inline: 2rem;
  color: var(--white);
  display: grid;
  grid-template-areas: 
  'logo logo'
  'email email'
  'contact wholesale'
  ;
  gap: 2rem;
  max-width: 1440px;
  margin: auto;
}

.main-footer .footer-grid-3 > a {
  grid-area: logo;
}

.main-footer .footer-grid-3 .email-field {
  grid-area: email;
}

.main-footer .footer-grid-3 .footer-contact-info {
  grid-area: contact;
}

.main-footer .footer-grid-3 .footer-wholesale-info {
  grid-area: wholesale;
}

.main-footer h4, .main-footer p {
  margin-block: 1rem .5rem;
}


.email-field input[type="email"] {
  width: 75%;
  position:relative;
  background-color: transparent;
  height: 3rem;
  border: 1px solid var(--white);
  padding-inline: .5rem;
  color: var(--white);
  font-size: 16px;
}

.email-field label {
  position: absolute;
}

.email-field button {
  height: 3rem;
  width: 20%;
  padding-inline: 1rem;
  border: 1px solid var(--white);
  color: var(--white);
  background-color: transparent;
  position: relative;
  top: -1px;
}

.email-field button:hover {
  cursor: pointer;
  background-color: var(--beige-transparent);
  transition: 300ms ease;
}

.footer-contact-info div {
  display: flex;
  flex-direction: column;
}

.footer-nav-links {
  padding-inline: 2rem;
  margin-block: 3rem 1rem;
}

.footer-nav-links a, .footer-social-links a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .9rem;
}

.footer-nav-links a {
  margin-right: 1rem;
}

.footer-social-links a {
  margin-left: 1rem;
}

.footer-nav-links a:hover, .footer-social-links a:hover {
  color: var(--beige);
  transition: 150ms ease-in-out;
}

.footer-nav-links, .footer-social-links {
  display: inline-block;
  list-style: none;
}

.footer-nav-links li, .footer-social-links li {
  display: inline-block;
}

.copy {
  margin-inline: 2rem;
  padding-block: 1rem;
  border-top: 1px solid var(--white);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.copy p {
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 80%;

}

/* FOOTER END */

@media (min-width: 768px) {

  h1 {
    text-align: left;
    font-size: clamp(3rem, 9vw, 7.5rem);
    line-height: .9;
    letter-spacing: -2px;
   }

   h2 {
    font-size: 4.5rem;
    font-weight: 400;
    letter-spacing: -.5px;
    margin-bottom: 2rem;
  }
  
  .main-nav {
    padding-inline: 2rem;
  }

  .main-nav ul li, .main-nav ul li:first-of-type {
    margin-right: 2rem;
    display: inline-block;
    border: none;
  }
  
  .main-nav ul li:last-of-type {
    margin-right: 0;
  }
  
  .main-nav ul li a {
    font-size: 14px;
    color: var(--beige);
    text-decoration: none;
    letter-spacing: .5px;
  }

  .menu-toggle {
    display: none;
  }

  .mobile-nav-header {
    width: auto;
    padding-inline: 0;
  }

  .nav-links {
    position: relative;
    display: inline-block;
    background-color: transparent;
    top: 0;
    min-height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 1;
  }
  
  .main-nav ul li a {
    font-size: 14px;
    color: var(--beige);
    padding: 0;
    display: inline-block;
    width: auto;
    text-decoration: none;
  
  }

  .main-nav ul li a:hover {
    background-color: transparent;
    color: #e0cfb4;
  }
  .nav-contact-info {
    display: none;
  }

  .hero {
    background-image: url(../img/shapelayer.svg);
    background-position: right;
    background-size: cover;
    text-align: left;
  }

  .hero h1 {
    margin-block: 1rem 2rem;
  }

  .hero header {
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    /* height: calc(90vh - 8rem); */
    max-width: 1440px;
    margin: auto;
    padding-bottom: 2rem;
    gap: clamp(1rem, 5vw, 2rem);
  }

  .small-illustration {
    height: 6rem;
  }

  .large-img {
    height: auto;
    width: clamp(100px, 35vw, 350px)
  }

  .features {
    height: 150px;
  }

  .features div {
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
  }

  .features span {
    width: 100%;
    height: 100%;
    border-left: 1px solid var(--dark-green);
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
  }

  .features span:first-of-type {
    border-left: none;
  }

  .grid-section {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    min-height: 600px;
    text-align: left;
    border-bottom: 1px solid var(--dark-green);
  }

  .grid-text {
    /* padding: clamp(2rem, 8vw, 300px); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: none;
  }

  .grid-text div {
    max-width: 500px;
  }


  .grid-text p {
    margin-block: 1rem;
    font-size: 1.25rem;
  }

  .grid-full-image {
    width: 100%;
    height: 800px;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
    border-bottom: none;
  }

  .full-width-section div {
    flex-direction: row;
    justify-content: center;
    gap: 6rem;
    text-align: center;
  }

  .full-width-section a:hover {
    opacity: 50%;
    transition: 150ms ease-in-out; 
  }

  .grid-twocol {
    grid-template-columns: 1fr 1fr;
  }

  .main-footer .footer-grid-3 {
    padding-inline: 2rem;
    color: var(--white);
    display: grid;
    grid-template-areas: 
    'logo logo logo'
    'email contact wholesale'
    ;
    gap: 2rem;
    max-width: 1440px;
    margin: auto;
  }

  .email-field input[type="email"] {
    width: 60%;
  }

  .email-field button {
    width: auto;
  }

  .copy {
    flex-direction: row;
  }

  .hero-subpage {
    position: relative;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: var(--dark-green);
    padding-top: 4rem;
    text-align: left;
  }

  .hero-subpage-about {
    position: relative;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-image: url(../img/header-about.jpg);
    background-position: center;
    background-size: 90%;
    padding-top: 8rem;
    text-align: left;
  }

  .hero-subpage h1 {
    color: beige;
    margin-bottom: 2rem;
  }
  
  .hero-subpage header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: left;
    max-width: 1440px;
    padding-left: 2rem;
    margin:auto;
  }

  .header-side-image {
    width: 100%;
    scale: 200%;
    position: relative;
    transform: translateX(5vw);
    /* align-items: left; */
    /* height: clamp(300px, 30vw, 900px) */
  }

  .varieties {
    padding: 6.25rem;
  }
  
  .tea-types {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid-threecol {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

@media (min-width: 940px) {
  .section-contact-info {
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .footer-contact-info div {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    
  }
}

@media (min-width: 1440px) {
/* 
  .main-nav {
    padding-inline: 10%;
  } */
}