:root {
  --text-lt: #ECE9DA;
  --beige: #F2E4CE;
  --beige-transparent: #f2e4ce4d;
  --white: #FFFFFF;
  --text-dark: #1E1E1E;
  --lt-green: #778536;
  --mid-green: #32421E;
  --dark-green: #192509;
  /* --dark-green: #090d03; */
  --dark-red: #37110C;
  --dark-grey: #1E1E1E;
}

/* UTLITY STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Jost', Arial, sans-serif;
}

h1, h2, h3 {
  font-family: 'Cormorant Garamond', Times, serif;
}

h4 {
  font-family: 'Jost', Arial, sans-serif;
}